@charset "ISO-8859-1";

.navbar-light {
	padding: 5px;
}

.container-fluid {
	background: #195d88;
	margin: 0 auto;
	padding: 5px;
	border: 3px solid #014661;
	padding-bottom: 30px;
}

.panel-heading {
	font-size: large;
	font-variant: small-caps;
	font-weight: bold;
}

